@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'BaruSans';
  src: url('/fonts/baru-sans-demo/BaruSansDemo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: #F2F8FF;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}

.font-navbar {
  font-weight: 700;
  color: #A0A0A0;
  font-size: 16px;
}

.font-navbar-button {
  font-weight: 700;
  font-size: 16px;
}

.font-button {
  font-weight: 600;
  font-size: 16px;
}

.font-h1 {
  font-family: 'BaruSans';
  font-weight: 700;
  line-height: 1.1;
}