@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}

.font-navbar {
  font-weight: 700;
  color: #A0A0A0;
  font-size: 16px;
}

.font-navbar-button {
  font-weight: 700;
  font-size: 16px;
}